---
{{frontmatter}}
---

import {
  BlueprintImportCard,
  Inputs,
  Requirement,
  Changelog,
} from '/src/components/library_docs'

<BlueprintImportCard
  category='controllers'
  id='{{id}}'
  library='{{library}}'
  release='{{release}}'
/>

<br />

:::tip
This blueprint is part of the **Controllers {{library}} Ecosystem**.
:::

## Description

This blueprint provides universal support for running any custom action when a button is pressed on the provided {{model_name}}. Supports controllers integrated with {{integrations_csv}}.
{{description_extra}}
:::tip
Automations created with this blueprint is not connected to any [Hooks](/docs/blueprints/hooks).
:::

## Requirements

{{requirements}}{{helper_text_requirement}}

## Inputs

<Inputs
  category='controllers'
  id='{{id}}'
  library='{{library}}'
  release='{{release}}'
/>

## Available Hooks

There are no available hooks for this device.

{{additional_notes_section}}## Changelog

<Changelog
  category='controllers'
  id='{{id}}'
  library='{{library}}'
  release='{{release}}'
/>
